/* объявленеи переменных */
:root {
  --bg-color: #f3efec;
  --text-color: #312a4e;
  --accent-color: #ffab6b;
  --main-font: "Raleway";
  --accent-font: "STIX Two Text";
}

/* тёмная тема */
.theme_dark {
  --bg-color:#171717;
  --text-color:#B3B3B3;
  --accent-color: transparent;
}
/* тёмная тема */

*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Начало работы, шаг 2 */
.page {
  margin: 0;
  color: var(--text-color, #312a4e);
  font-family: var(--main-font, "Raleway");
  background-color: var(--bg-color, #f3efec);
  min-inline-size: 360px;
}

p,
h1,
h2,
h3,
blockquote,
ul,
ol,
li,
figure {
  margin: 0;
}
/* состояние кнопок и ссылок */
a:focus,
button:focus {
  outline: none;
}
a:focus-visible,
button:focus-visible {
  outline: 1px solid currentColor;
}
button:disabled {
  pointer-events: none;
}
/* состояние кнопок и ссылок */

/* Начало работы, шаг 2 */
.heading {
  font-family: var(--accent-font, serif);
  font-weight: 600;
  line-height: 0.9;
  text-align: center;
}
.content-section {
  padding-right: 5vi;
  padding-left: 5vi;
}
.header {
  padding-top: calc(10%);
}
.header__title {
  margin-inline-end: 40px;
  font-size: clamp(3.75rem, 2.5rem + 5.5556vw, 7.5rem);
}
.content__title {
  margin: 7% 0 2.5%;
  font-size: 30px;
}
.content__text-block {
  font-family: var(--main-font, 18px);
}
.content__text-block a{
  color: inherit;
}
.content__paragraph {
  margin-bottom: 1.5em;
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 18px;
}
.content__paragraph__link {
  box-shadow: 0 0 0 currentColor;
  outline: none;
  color: var(--main-font);
}
.content__paragraph__link:hover {
  text-decoration: underline rgb(49, 42, 78, 0.5);
}
.theme_dark .content__paragraph__link:hover {
  text-decoration: underline rgb(179, 179, 179, 0.5);
}
.content__blockquote {
  display: flex;
  align-items: center;
  align-content: center;
  margin-bottom: 1.5em;
  font-family: var(--main-font);
  font-size: 18px;
  font-style: italic;
  line-height: 200%;
  inline-size: 75%;
}
blockquote {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content__list {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 40px;
  font-size: 18px;
}
li {
  list-style-type: none;
}
li:last-child {
  margin-bottom: 0;
}
.content__list li {
  position: relative;
  margin-bottom: 10px;
}
.content__list li::before {
  content: "";
  position: absolute;
  margin-block-start: -7.5px;
  background-image: url(../images/marker-light.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  inset-block-start: 50%;
  inset-inline-start: -25px;
  inline-size: 15px;
  block-size: 15px;
}
.content__text-block_type_first-lettered
  .content__paragraph:first-of-type::first-letter {
  margin-right: 1px;
  padding-right: 4px;
  padding-left: 4px;
  font-weight: bold;
  font-size: x-large;
  background-color: var(--accent-color);
}
.content__figure {
  position: relative;
  margin: 7% auto;
  inline-size: calc(100% + 10vi);
  inset-inline-end: 5vi;
}
.content__picture {
  inline-size: 100%;
}
.content__picture-caption {
  border-block-end: 1px solid currentColor;
  padding: 20px;
  font-size: large;
  text-align: center;
}
.content__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block-start: 7%;
  border: 1px solid var(--text-color);
  aspect-ratio: 4 / 3;
}
.content__card-title {
  font-size: 60px;
}
.content__card-subtitle {
  font-size: 18px;
}
.colored-text {
  position: relative;
  display: inline-block;
}
.colored-text::after {
  content: "";
  position: absolute;
  z-index: -1;
  background-color: var(--accent-color);
  inline-size: calc(100% + 8px);
  block-size: 0.5ch;
  inset-block-end: 0.3ch;
  inset-inline-start: -4px;
}
.header__theme-toggler {
  display: flex;
  gap: 20px;
  padding: 0;
  list-style: none;
}
.header__theme-button_is-active {
  font-weight: bold;
}
.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 40px;
  border-top: 1px solid var(--text-color);
  border-bottom: 1px solid var(--text-color);
  padding-top: 20px;
  padding-bottom: 20px;
}
.header__theme-button {
  border: none;
  outline: none;
  color: var(--text-color);
  font-family: var(--main-font);
  font-size: 18px;
  background-color: transparent;
  cursor: pointer;
}
.header__theme-button:hover {
  text-decoration: underline;
}
/* .header__theme-button_is-active:disabled {
  cursor: not-allowed;
} */
.header__theme-button_is-active {
  position: relative;
  display: inline-block;
}
.header__theme-button_is-active::after {
  content: "";
  position: absolute;
  z-index: -1;
  background-color: var(--accent-color);
  inline-size: calc(95%);
  block-size: 0.5ch;
  inset-block-end: 0.4ch;
  inset-inline-start: 2px;
  
}
/* @media (width < 443px) {
  .content__card-title {
    display: flex;
    flex-direction: column;
  }
} */

/* подвал сайта */
.footer__copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: calc(10%);
  border-top: 1px solid var(--text-color);
  padding: 2.5%;
  font-family: var(--main-font);
  font-size: 18px;
}
/* подвал сайта */

.theme_dark .colored-text::after {
  background-image: url(../images/pattern.svg);
}
.theme_dark .header__theme-button_is-active::after {
  background-image: url(../images/pattern.svg);
}
.theme_dark .content__text-block_type_first-lettered 
.content__paragraph:first-of-type::first-letter {
  border: 1px solid currentColor;
}
.theme_dark .content__list li::before {
  background-image: url(../images/marker-dark.svg);
}