*,
*::before,
*::after {
  box-sizing: border-box;
}
/* объявленеи переменных */
:root {
  --bg-color:#F3EFEC;
  --text-color:#312A4E;
  --accent-color:#FFAB6B;
  --main-font:'Raleway';
  --accent-font:'STIX Two Text' ;

}

/* Начало работы, шаг 2 */
.page {
  margin: 0;
  color: var(--text-color,#312A4E );
  font-family: var(--main-font, 'Raleway');
  background-color: var(--bg-color,#F3EFEC);
  min-inline-size: 360px;

}

p,
h1,
h2,
h3,
blockquote,
ul,
ol,
li,
figure {
  margin: 0;
}

/* Начало работы, шаг 2 */

.heading { 
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--accent-font, 'STIX Two Text');

}
.content-section {
  padding-right: 5vi;
  padding-left: 5vi;
}
.header {
  padding-top: calc(10%);
}
.header__title {
  font-size: clamp(3.75rem, 2.5rem + 6.1728vw, 7.5rem);
}
.content__title {
  margin-top: calc(100% - 93%);
  margin-bottom: calc(2.5%);
  font-size: 30px;
}
.content__text-block {
  font-family: var(--main-font, 18px);

}
.content__paragraph {
  margin-bottom: 1.5em;
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 18px;
  
}
.content__paragraph__link {
  box-shadow: 0 0 0 currentColor;
  color: var(--main-font);
}
.content__blockquote {
  display: flex;
  align-items: center;
  align-content: center;
  margin-bottom: 1.5em;
  font-family: var(--main-font);
  font-size: 18px;
  font-style: italic;
  inline-size: 75%;
}
blockquote {
  display: flex;
  align-items: center;
 justify-content: center; 
}
.content__list {
  list-style-type: none;
  font-size: 18px;
  padding: 0 0 0 40px;
  display: flex;
  flex-direction: column;
}
li {
  margin-bottom: 10px;
}
li:last-child {
 margin-bottom: 0;
}
.content__list li {
  position: relative;
}
.content__list li::before {
  content: '';
  position: absolute;
  background-image: url(../images/marker-light.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-block-start: -7.5px;
  inset-block-start: 50%;
  inset-inline-start: -25px;
  inline-size: 15px;
  block-size: 15px; 
}
.content__text-block_type_first-lettered .content__paragraph:first-of-type::first-letter{
  background-color:var(--accent-color);
  padding-left: 4px;
  padding-right: 4px;
  margin-right: 1px;
  font-weight: bold;
  font-size: x-large;
}